$className: 'player-profile';

.#{$className} {
  flex-grow: 1;

  &__main {
    padding: 3.125rem 0;
  }

  &__title {
    font-size: 1.875rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
  }

  &__category-menu {
    margin-top: 2.5575rem;
  }

  &__map-records {
    padding-top: 3.125rem;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }
}