$className: 'player-profile';

.#{$className} {
  flex-grow: 1;

  &__main {
    padding: 3.125rem 0;
  }

  &__title {
    width: fit-content;
    display: block;
    margin: 0 auto;
    transition: color 0.2s;

    &:hover {
      color: $primary;
      transition: color 0.2s;
    }
  }

  &__title-text {
    font-size: 1.875rem;
    font-weight: 700;
  }

  &__category-menu {
    margin-top: 2.5575rem;
  }

  &__map-records {
    padding-top: 3.125rem;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }
}