$className: 'leaderboard';

.#{$className} {
  font-size: 1.25rem;

  @media (max-width: 735px) {
    font-size: .75rem;
  }

  &__table {
    @include tableProperties;
  }

  &__table-body {
    border-spacing: 0;
  }

  &__table-row,
  &__table-cell-name-link {
    @include tableRowProperties;
  }

  &__table-cell-rank,
  &__table-cell-total-ranks {
    @include tableCellProperties;
  }

  &__table-cell-total-ranks,
  &__table-cell-name,
  &__table-cell-rank {
    background-image: $primary-gradient-10;
  }

  &__table-cell-name {
    width: 100%;
    text-align: left;
  }

  &__table-cell-name_header,
  &__table-cell-name-link {
    padding: 0 1.25rem;

    @media (max-width: 735px) {
      padding: 0 .625rem;
    }
  }

  &__table-cell-name-link {
    display: flex;
    width: 100%;
    align-items: center;
    transition: box-shadow 0.2s;

    &:hover {
      transition: box-shadow 0.2s;
      box-shadow: 0 0 .9375rem rgba(0, 0, 0, 0.7);
      background-image: $primary-gradient-25;
    }
  }

  &__table-cell-total-ranks {
    color: grey;
  }

  &__table-cell-rank,
  &__table-cell-total-ranks {
    font-weight: 700;

    &_rank1 {
      color: gold;
    }

    &_rank2 {
      color: silver;
    }

    &_rank3 {
      color: rgb(205, 127, 50);
    }
  }

  &__table-cell-rank {
    &_rank1 {
      border: .125rem solid gold;
    }

    &_rank2 {
      border: .125rem solid silver;
    }

    &_rank3 {
      border: .125rem solid rgb(205, 127, 50);
    }
  }
}