$className: 'expander';

.#{$className} {
  &__header {
    transition: box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.875rem;

    &:hover {
      transition: box-shadow 0.2s;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
      background-image: $primary-gradient-25;
    }

    @media (max-width: 68.75rem) {
      padding: 8px;
    }
  }

  &__header,
  &__body-wrapper {
    background-image: $primary-gradient-10;
  }

  &__title {
    font-size: 1rem;
    transition: color 0.4s;

    @media (max-width: 68.75rem) {
      font-size: 12px;
    }
  }

  &__button {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    color: white;
    font-size: 1.5rem;
    transition: transform 0.4s, color 0.4s;

    @media (max-width: 68.75rem) {
      font-size: 16px;
    }
  }

  &__body-wrapper {
    margin-top: 15px;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s;
  }

  &__body {
    grid-row: 1 / span 2;
  }

  &__body-wrapper > &__body {
    overflow: hidden;
  }

  &__body-inside {
    padding: 0.875rem;

    @media (max-width: 1100px) {
      padding: 0.5rem;
    }
  }

  &_open {
    .#{$className} {
      &__title {
        color: $primary;
      }

      &__body-wrapper {
        grid-template-rows: 1fr;
      }

      &__icon {
        color: $primary;
        transform: rotate(180deg);
      }
    }
  }
}
