$className: 'map-records';

.#{$className} {
  width: 100%;
  font-size: 1rem;

  @media (max-width: 1100px) {
    font-size: 0.6875rem;
  }

  &__table {
    @include tableProperties;
  }

  &__table-body {
    border-spacing: 0;
  }

  &__table-row,
  &__table-cell-name-link {
    @include tableRowProperties;
  }

  &__table-cell-rank {
    @include tableCellProperties;
  }

  &__table-cell-rank,
  &__table-cell-name,
  &__table-cell-category,
  &__table-cell-time,
  &__table-cell-players,
  &__table-cell-date,
  &__table-cell-authors,
  &__table-cell-release {
    background-image: $primary-gradient-10;
  }

  &__table-cell-rank,
  &__table-cell-category {
    font-weight: 700;
  }

  &__table-cell-rank {
    color: grey;

    &_rank1 {
      color: gold;
      border: 0.125rem solid gold;
    }

    &_rank2 {
      color: silver;
      border: 0.125rem solid silver;
    }

    &_rank3 {
      color: rgb(205, 127, 50);
      border: 0.125rem solid rgb(205, 127, 50);
    }
  }

  &__table-cell-category {
    max-width: 7.5rem;
    min-width: 7.5rem;
    text-align: center;

    &_insane {
      border: 0.125rem solid rgb(244, 63, 94);

      .#{$className} {
        &__star,
        &__category-title,
        &__map-points {
          color: rgb(244, 63, 94);
        }
      }
    }

    &_hard {
      border: 0.125rem solid rgb(251, 191, 36);

      .#{$className} {
        &__star,
        &__category-title,
        &__map-points {
          color: rgb(251, 191, 36);
        }
      }
    }

    &_main {
      border: 0.125rem solid rgb(56, 189, 248);

      .#{$className} {
        &__star,
        &__category-title,
        &__map-points {
          color: rgb(56, 189, 248);
        }
      }
    }

    &_easy {
      border: 0.125rem solid rgb(52, 211, 153);

      .#{$className} {
        &__star,
        &__category-title,
        &__map-points {
          color: rgb(52, 211, 153);
        }
      }
    }

    &_mod {
      border: 0.125rem solid white;

      .#{$className} {
        &__star,
        &__category-title,
        &__map-points {
          color: white;
        }
      }
    }

    &_extreme {
      border: 0.125rem solid rgb(217 70 239);

      .#{$className} {
        &__star,
        &__category-title,
        &__map-points {
          color: rgb(217 70 239);
        }
      }
    }

    &_solo {
      border: 0.125rem solid rgb(249 115 22);

      .#{$className} {
        &__star,
        &__category-title,
        &__map-points {
          color: rgb(249 115 22);
        }
      }
    }

    .#{$className} {
      &__star_not-active {
        color: grey;
      }
    }

    @media (max-width: 1100px) {
      max-width: 90px;
      min-width: 90px;
    }
  }

  &__category-title {
    line-height: 1rem;

    @media (max-width: 1100px) {
      line-height: 0.75rem;
    }
  }

  &__category-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.3125rem;
  }

  &__map-points {
    font-size: 0.625rem;
    display: flex;
    align-items: center;

    @media (max-width: 1100px) {
      font-size: 0.5rem;
    }
  }

  &__map-stars {
    display: flex;
    align-items: center;
  }

  &__star {
    font-size: 0.5rem;

    @media (max-width: 1100px) {
      font-size: 0.375rem;
    }
  }

  &__table-cell-time,
  &__table-cell-date,
  &__table-cell-release {
    padding: 0 0.375rem;
    min-width: 5rem;
    text-align: center;
    white-space: nowrap;

    @media (max-width: 1100px) {
      padding: 0 0.3125rem;
      min-width: 3.75rem;
    }

    @media (max-width: 500px) {
      padding: 0 0.125rem;
    }
  }

  &__table-cell-date,
  &__table-cell-release {
    position: relative;
  }

  &__table-cell-date,
  &__table-cell-players,
  &__table-cell-time {
    &_no-data {
      color: grey;
    }
  }

  &__date-text {
    &:hover + .#{$className}__date-tooltip,
    &:focus + .#{$className}__date-tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  &__date-tooltip {
    position: absolute;
    font-size: 0.8571rem;
    line-height: 1rem;
    box-shadow: 0rem 0rem 0.7143rem rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 0.2143rem;
    transition: opacity 0.2s, visibility 0.2s;
    transform: translate(-50%, -4.6875rem);
    opacity: 0;
    visibility: hidden;
    width: 120%;
    left: 50%;
    word-break: break-word;
    background-color: $primary;
    z-index: 1;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
      width: 0.7143rem;
      height: 0.7143rem;
      background-color: $primary;
      transform: translate(-50%, 6px) rotate(225deg);
      left: 50%;
      bottom: 0;
    }

    &:hover {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: 1100px) {
      padding: 0.125rem;
      transform: translate(-50%, -2.5rem);
      font-size: 0.625rem;
    }
  }

  &__table-cell-name {
    white-space: nowrap;
  }

  &__table-cell-name,
  &__table-cell-authors {
    height: 100%;
    text-align: left;
  }

  &__player-link {
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }

  &__player-separator {
    color: $primary;
  }

  &__table-cell-players {
    width: 100%;
    text-align: left;
  }

  &__table-cell-name_header,
  &__table-cell-name-link,
  &__table-cell-players,
  &__table-cell-authors {
    padding: 0.3125rem 0.625rem;

    @media (max-width: 1100px) {
      padding: 0 0.5rem;
    }

    @media (max-width: 500px) {
      padding: 0 0.3125rem;
    }
  }

  &__table-cell-name-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  &__table-body &__table-cell-name {
    transition: box-shadow 0.2s;

    &:hover {
      transition: box-shadow 0.2s;
      box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.7);
      background-image: $primary-gradient-25;
    }
  }
}
