$className: 'category-menu';

.#{$className} {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.9375rem;

  &__item {
    position: relative;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    min-width: 6.25rem;
    min-height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s;

    @media (max-width: 1100px) {
      font-size: 0.75rem;
      min-width: 3.75rem;
      min-height: 2.5rem;
    }

    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $primary;
      bottom: 0;
      transform: scale(0, 0);
      transition: transform 0.5s;
    }

    &_active,
    &:hover {
      color: $primary;
      transition: color 0.2s;

      &::before {
        transition: transform 0.3s;
        transform: scale(100%, 100%);
      }
    }
  }
}
