mixin category-menu(vars)
  -
    const {
      categories = [],
    } = vars

    const className = "category-menu"
    const classNames = `${className} js-${className}`

  ul(class=classNames)
    each item in categories
      li(class=`${className}__item js-${className}__item`)= item