@font-face {
	font-family: 'Segoe';
	src: url('../assets/fonts/segoe/segoe-regular.woff') format('woff'), url('../assets/fonts/segoe/segoe-regular.ttf') format('truetype'), url('../assets/fonts/segoe/segoe-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe';
	src: url('../assets/fonts/segoe/segoe-bold.woff') format('woff'), url('../assets/fonts/segoe/segoe-bold.ttf') format('truetype'), url('../assets/fonts/segoe/segoe-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}