$big: 320px;
$fullhd: 1920px;

$dark: rgb(27, 27, 35);
$headerColor: rgb(17, 17, 25);

$primary: rgb(235, 92, 43);

$grey: #f4f4f6;

$purple: #bc9cff;
$purple-50: #bc9cff50;
$purple-25: #bc9cff25;
$purple-10: #bc9cff10;

$green: #6fcf97;

$jordy-blue: #8ba4f9;
$jordy-blue-50: #8ba4f950;
$jordy-blue-25: #8ba4f925;
$jordy-blue-10: #8ba4f910;

$sky-blue: #66d2ea;

$primary-gradient: linear-gradient(180deg, $purple 0%, $jordy-blue 100%);
$primary-gradient-50: linear-gradient(
  180deg,
  $purple-50 0%,
  $jordy-blue-50 100%
);
$primary-gradient-25: linear-gradient(
  180deg,
  $purple-25 0%,
  $jordy-blue-25 100%
);
$primary-gradient-10: linear-gradient(
  180deg,
  $purple-10 0%,
  $jordy-blue-10 100%
);

$secondary-gradient: linear-gradient(180deg, $green 0%, $sky-blue 100%);

@mixin tableProperties() {
  border-collapse: separate;
  border-spacing: 0.625rem;

  @media (max-width: 1100px) {
    border-spacing: 0.125rem;
  }
}

@mixin tableCellProperties() {
  max-width: 3.125rem;
  min-width: 3.125rem;
  text-align: center;

  @media (max-width: 1100px) {
    max-width: 1.5625rem;
    min-width: 1.5625rem;
  }
}

@mixin tableRowProperties() {
  min-height: 3.125rem;
  height: 3.125rem;

  @media (max-width: 1100px) {
    min-height: 1.875rem;
    height: 1.875rem;
  }
}
